[run]
omit = 
    */migrations/*
    */admin.py
    */tests.py
    */__init__.py
    */apps.py
    imagersite/settings.py
    manage.py
    imagersite/wsgi.py

source =
    imagersite
    imager_profile
    imager_images

[report]
show_missing = True