{% extends 'imagersite/base.html' %}
{% load thumbnail %}
{% block content %}
<p>{{ photo.title }}</p>
    {% if photo.published %}
        {% thumbnail photo.photo "500x500" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% if tags %}
    <h4>Tags</h4>
        {% for tag in tags %}
            <a class="tag" href='{% url "tagged_images" slug=tag %}'>{{ tag }}</a>
        {% endfor %}
    {% endif %}
    {% else %}
        <p>Photo doesn't exist.</p>
    {% endif %}
{% endblock %} 