{% extends 'imagersite/base.html' %}
{% load static %}
{% load thumbnail %}
{% block content %}
<p>Photos</p>
<ul>
    {% for photo in photos %}
        <li>{{ photo.title }}</li>
        {% thumbnail photo.photo.url "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
    {% endfor %}
</ul>
<p>Albums</p>
<ul>
    {% for album in albums %}
        <li>{{ album.title }}</li>
        {% if album.cover.photo.url %}
            <img src={{ album.cover.photo.url }} />
        {% else %}
            <img src="{% static '/assets/camera.png' %}" />
        {% endif %}
    {% endfor %}
</ul>
{% endblock %} 